# RENAME THIS FILE TO ".env" WHEN YOU'RE DONE!

# Your Discord bot token (https://discord.com/developers/applications)
DISCORD_TOKEN="XXXXXXXXXXXXXXXXXXXXXXXXXX.XXXXXX.XXXXXXXXXXXXXXXXXXX-XXXXXXXXXXXXXXXXXX"

# Your MongoDB user (This needs to have read and write access to the database)
DATABASE_USER="user"

# Your MongoDB password
DATABASE_PASSWORD="password"

# Or your local MongoDB URI (e.g. "localhost")
DATABASE_URI="XXXXXXXX.XXXXXXX.mongodb.net" 

# (OPTIONAL) "test" for development, "prod" for production.
DATABASE_COLLECTION="test"